* { margin:0 ; padding: 0;}
body {font-family: berlin sans fb;background-image: url("bg.png"); background-repeat:no repeat; color:#e6b800}

 /* HEADER */
#nav {background: rgba(0,0,0,.7);height: 100%;width: 100%;border-radius:5px; padding: 1% 0 1% 0;text-align:right;}
#nav > li {display:inline-block;margin-right: 3%;font-size: 170%;padding:1%;}
#nav > li > a{color:#e6b800;text-decoration: none;}
#nav > li > a:hover {background-color:#ffdb4d;}
#logo {float:left;margin-top: -1%; padding-left: 7%;}

/* FOOTER */
#footer{background: rgba(0,0,0,.7);height:40px;width:100%;color: #e6b800;border-radius: 5px;text-align: center;}
#footer a{font-size: 105%;color: #e6b800;text-decoration: none;}
#footer li{float:left;margin-left:30px;padding:8px;list-style:none}
#footer li:hover{background-color:#ffdb4d;border-radius: 5px;}
#footer p{float:right;margin-right:30px;padding:8px;}

/* HOME PAGE */
#home {background: rgba(0,0,0,.7);margin:40px;padding-left: 40px;color: #e6b800;border-radius:20px;padding-right: 40px; }
#home img{	border-radius:20px; border-color: #e6b800; border-style: outset; }
#home embed{border-radius:5px;border-color: #e6b800; border-style: outset;}
#home h1{font-family:"forte";font-size:250%;}

/* ABOUT US */
#about {background: rgba(0,0,0,.7);margin:40px;padding-left: 40px;color: #e6b800;border-radius:20px;padding-right: 40px; }
#about img { border-radius:20px; border-color: #e6b800; border-style: outset; }
#about h3 {font-family: Rockwell; font-size: 30px; color:#e6b800;  text-decoration: underline }
#about p {color: #e6b800; }
 
/* MENU CARD */
#menu {background: rgba(0,0,0,.7);margin:40px;padding: 20px;border-radius:20px;}
#menu img { border-radius:20px; border-color: #e6b800;border-style: outset; height: 50%; width: 50%;}
#menu table {margin-right:2%;}
 
/* LOCATIONS */
#locations {background: rgba(0,0,0,.7); color: #e6b800;margin:40px;padding: 30px;border-radius:20px; }
#locations img  {	border-radius:20px; border-color: #e6b800; border-style: outset; margin-left: 2%; }
#locations ol{padding-left: 30px; font-family: Berlin Sans fb;  font-size: 20  }
   
/* CONTACT US */
#contact {  background-color: #000000;color: #e6b800; background: rgba(0,0,0,.7);margin:40px;padding: 50px;padding-left: 80px;border-radius:20px;font-family: "Rockwell";   }
label  {float:left; width: 200px;  text-align: right; padding-right: 20px;margin-top: 12px;  clear: left; }
input, textarea, select {margin-top: 12px;}
#submit {   margin-left: 200px;padding: 15px;   }
#img2   { padding-right: 90px; }
  
  

